@media only screen and (min-width: 340px) {
    #banner {
        width: 100%;
        height: 11rem;
    }

    #title {
        max-width: 100%;
        font-size: 3rem;
        font-weight: 700; 
        text-align: center;
        padding: 0 1rem;
    }

    .block {
        width: 90%;
        padding: 1.25rem 1rem;
        margin-bottom: 0.5rem;
        background-color:rgb(0, 0, 0,);
    }

    .title {
        font-size: 1.25rem;
    }
    
    .paragraph p {
        font-weight: 300;
        font-size: 0.75rem;
    }

}

@media screen and (min-width: 640px) {
    #banner {
        width: 100%;
        height: 11rem;
    }

    .block {
        width: 90%;
        padding: 0.5rem 1rem 1rem;
        background-color:rgb(0, 0, 0,);
    }

    .title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 678px) {

    #title {
        font-size: 3.25rem;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {

    .title {
        font-size: 1.7rem;
    }

    .paragraph p {
        font-size: 1rem;
    }
}
