@import url('../fonts/fonts.css');

/* Universal type and top layer of page. */
* {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
    color: whitesmoke;
}
body {
    background-color: #00000005;
    box-sizing: content-box;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    /*margin: 2vw 20vw;*/
    /*background-image: url('../images/HTMLBackPattern.png');
    background-repeat: repeat;
    background-size: inherit;*/
}

#banner {
    opacity: 0.88;
    /*background-image: url('../images/background.jpg'); 
    background-size: cover; 
    justify-content: center;*/
    align-items: center;
}

#title {
    background-color: rgb(77, 179, 153);
    color: rgb(13, 49, 46); 
    font-size: 5rem;
    font-weight: 700; 
    text-align: center; 

    border: 6px solid rgb(200, 223, 212);
    border-radius: 3rem;
    padding: 1.5rem 3rem;
    
}


/* #region
    Start maain page contents
*/

.block-container {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;

}
.blocks {
    width: 80%;
    height: 5rem;
    color: whitesmoke;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.25rem;
    cursor: pointer;
    
}

.title {
    color: cornflowerblue;
}   

.paragraph p {
    color: cornflowerblue;
}
.blocks a {
    text-align: center;
}
.update {
    color: rgba(29, 28, 28, 0.705);
}

/* Sections and Info */
.section {
    width: 45%;
    height: 40rem;
    background-color: #45202b;
}

#main {
    float: left;
    margin: 2rem 0 0 3rem;
}

.ads-block {
    width: 14%;
    height: 40rem;
    background-color: #813147;
    border: 3px solid rgb(224, 201, 201);
    border-radius: 1rem;

    margin: 2rem;
}

#mood {
    height: 5rem;
    float: left;
    clear: none;

    margin-left: 2rem;
    padding: 0.5rem;
}

#mood >  * {
    padding: 0.25rem;
    margin: 0;
    text-align: center;
    color: whitesmoke;
}