body {
    box-sizing: content-box;
}
.block-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;

}
.blocks {
    height: 24rem;
    color: whitesmoke;
    border-radius: 4%;
    display: flex;
    width: 50%;

}